<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kandidat.datx02_15_39.tok" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".layout.MainActivity"
            android:label="@string/title_activity_hello_world" >
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        </activity>
        <activity
            android:name=".layout.DietHomeActivity"
            android:label="@string/title_activity_diet_home" >
        </activity>
        <activity
            android:name=".layout.SleepHomeActivity"
            android:label="@string/title_activity_sleep_home" >
        </activity>
        <activity
            android:name=".layout.AddDietActivity"
            android:label="@string/title_activity_add_diet" >
        </activity>
    </application>

</manifest>
